<!-- views/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
<script src="/client.js"></script>
</head>
<body class="container">

<header>
    
</header>

<main>
    <div id="posts">
    </div>
</main>

<footer>
    
</footer>

</body>
</html>
