html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
#bubbles {
    padding-top: 48px;
}

.bubbles {
  margin-top: 10px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #507cd8;
}
.footer p {
    line-height: 60px;
    color: white;
}
.footer a {
    color: #efb22e;
    text-decoration: none;
}
.post {
    border: 1px black solid;
}
.createform {
  border:5px solid #666;
  padding:10px;
  background:#3A3A3A;
  position:absolute;
  z-index: 9999;
  display:none;
}
.createform label {
  display: inline-block;
  color:#cecece;
}
.dialog {
  border:5px solid #666;
  padding:10px;
  background:#3A3A3A;
  position:absolute;
  z-index: 9999;
  display:none;
}
.dialog label {
  display:inline-block;
  color:#cecece;
}  
input[type=text] {
  border:1px solid #333;
  display:block;
  margin:5px;
}
#btnOK {
  border:1px solid #000;
  background:#ff9999;
  margin:5px;
}

#btnOK:hover {
  border:1px solid #000;
  background:#ffacac;
}