<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

    <body>
        <main class="center">
            <div class="navbar-header">
                <!-- <img src="../public/bubbles.jpg" /> -->
                <a class="navbar-title" href="/">
                    bubbleUp
                </a>
            </div>
            <div class="landing-page">
                <div class="big-text">
                    <h2>What do you remember?</h2>
                    <h4>Do not forget with bubbleUp</h4>
                </div>
                <div class="button-container">
                    <a class="start-now-button" href="/bubbles">Start now</a>
                </div>
            </div>
        </main>
        <section>
            <div class="info-container">
                <div class="info-box">
                    <h3>
                        Don't Forget
                    </h3>
                    <hr width="25%">
                    <p>
                        Ever wanted to remember something and wished you had written it down? That's why bubbleUp was created.
                    </p>
                </div>
                <div class="info-box">
                    <h3>
                        How It Works
                    </h3>
                    <hr width="25%">
                    <p>
                        All you have to do is start creating bubbles. Blog about whatever, or type in some links or code since the bubbles support
                        markdown.
                    </p>
                </div>
                <div class="info-box">
                    <h3>
                        Filter Your Search
                    </h3>
                    <hr width="25%">
                    <p>
                        Sometimes you know exactly what you want to recall. The filter feature allows you to search by tags given to each bubble.
                    </p>
                </div>
            </div>
        </section>
        <% include ../partials/scripts %>

    </body>

</html>